services:
  postgres:
    image: postgres:15
    container_name: job_pipeline_postgres
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
      - ./db/analytics.sql:/docker-entrypoint-initdb.d/analytics.sql


volumes:
  pgdata:
